@model Software_Engineering_Project.Models.Calendar

<div class="row" id="app-content">
    <br />
    <div class="col-md-12 text-center">
        <div class="card">
            <div class="card-block row">
                <div class="col-md-12">
                    <h4>You can reserve any available room right now. This is a one time booking that cannot be renewed. </h4>
                </div>
                <div class="col-md-12">
                    @using (Html.BeginForm("ImmediateBookRoom", "Booking", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.bookings)
                        @Html.HiddenFor(model => model.room)
                        @Html.HiddenFor(model => model.date)
                        <input type="submit" class="btn btn-primary btn-lg" value="Book Now" />
                    }

                    <!--Html.ActionLink("Book Now", "ImmediateBookRoom", "Booking", null, new { class = "btn btn-primary btn-lg" })-->
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="card">
            <div class="card-block row">
                <div class="col-md-12">
                    <p>You can also book rooms ahead of time. See whats available and reserve a room before its taken. These reservations can be recurring.</p>
                </div>
                <div class="col-md-12">
                    <!--Html.ActionLink("Book In Advance", "AdvanceBookRoom", new { cal = Model }, new { class = "btn btn-primary btn-lg" })-->

                    @using (Html.BeginForm("AdvanceBookRoom", "Booking", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.bookings)
                        @Html.HiddenFor(model => model.room.id)
                        @Html.HiddenFor(model => model.room.capacity)
                        @Html.HiddenFor(model => model.room.descriptor)
                        @Html.HiddenFor(model => model.date)                        
                        <input type="submit" class="btn btn-primary btn-lg" value="Book In Advance" />
                    }
                </div>
            </div>
        </div>
    </div>

</div>
