@model Software_Engineering_Project.Models.Calendar
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <div class="row">
                <div class="col-md-4 text-right">
                    <h3>
                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                    </h3>
                </div>
                <div class="col-md-4">
                    <h3>@String.Format("{0:MMMM}", Model.date)</h3>
                </div>
                <div class="col-md-4 text-left">
                    <h3>
                        <a href="#">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    @{
        System.DateTime currDay = new System.DateTime(Model.date.Year, Model.date.Month, 1);
        System.DateTime lastDay = currDay.AddMonths(1).AddDays(-1);
        bool started = false;
        int i = 0;
        bool end = false;
    }


    @while (!end)
    {

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4"></div> <!-- this column empty -->

                    @for (int j = 1; j < 3 && !end; j++)
                {
                    if (!started && (int)currDay.DayOfWeek != 7 * i + j - 1)
                    {
                            <div class="col-md-4"></div>
                        }
                        else
                        {
                            started = true;
                            <div class="col-md-4 table-bordered">
                                @String.Format("{0:ddd}", currDay.DayOfWeek.ToString().Substring(0, 3))

                                <br />

                                @currDay.Day
                                @{
                                    currDay = currDay.AddDays(1);

                                    if (currDay.Month > lastDay.Month)
                                    {
                                        end = true;
                                    }
                                }
                            </div>
                                        }
                                    }

                </div>
            </div>

            <div class="col-md-8">
                <div class="row">

                    @for (int j = 3; j < 8 && !end; j++)
                    {
                        if (!started && (int)currDay.DayOfWeek != 7 * i + j - 1)
                        {
                            <div class="col-md-2"></div><!-- this column empty -->
                        }
                        else
                        {
                            started = true;
                            <div class="col-md-2 table-bordered">
                                @String.Format("{0:ddd}", currDay.DayOfWeek.ToString().Substring(0, 3))

                                <br />

                                @currDay.Day
                                @{
                                    currDay = currDay.AddDays(1);

                                    if (currDay.Month > lastDay.Month)
                                    {
                                        end = true;
                                    }
                                }
                            </div>
                                        }
                                    }

                    <div class="col-md-2"></div> <!-- this column empty -->
                </div>
            </div>
        </div>

        i++;
    }
</div>