@model Software_Engineering_Project.Models.Calendar
<div id="calendar">
    <div class="row">
        <div class="col-md-3 text-right">
            <h3>
                @Ajax.ActionLink(
                    "<",
                    "UpdateCalendar",
                    "Home",
                    new { currentCalendarDate = Model.date, next = false},
                    new AjaxOptions {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "calendar",
                        OnComplete = null
                    }
                )
            </h3>
        </div>
        <div class="col-md-6 text-center">
            <h3>@String.Format("{0:MMMM yyyy}", Model.date, Model.date.Year)</h3>
        </div>
        <div class="col-md-3 text-left">
            <h3>
                @Ajax.ActionLink(
                    ">",
                    "UpdateCalendar",                            
                    "Home",
                    new { currentCalendarDate = Model.date, next = true },
                    new AjaxOptions {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "calendar",
                        OnComplete = null
                    }
                )
            </h3>
        </div>                    
    </div>

    @{
        System.DateTime currDay = new System.DateTime(Model.date.Year, Model.date.Month, 1);
        System.DateTime lastDay;

        if (currDay.Month == 12)
        {
            lastDay = new System.DateTime(Model.date.Year, Model.date.Month, 31);
            System.Diagnostics.Debug.WriteLine("Last day = " + lastDay);
        }
        else
        {
            lastDay = currDay.AddMonths(1).AddDays(-1);
        }

        bool started = false;
        int i = 0, j = 1;
        bool end = false;
    }


    @while (!end) {

        <div class="row seven-cols">
            @for (j = 1; j < 8 && !end; j++) 
            {
                if (!started && (int)currDay.DayOfWeek != 7 * i + j - 1) 
                {
                    <div class="col-md-1 table-bordered calendar-day"></div>
                }
                else
                {
                    started = true;
                    <div class="col-md-1 table-bordered calendar-day">
                        <div class="row text-center" style="background:#337ab7">
                            @String.Format("{0:ddd}", currDay.DayOfWeek.ToString().Substring(0, 3))

                            @currDay.Day
                        </div>

                        @{                            
                            currDay = currDay.AddDays(1);
                            if (currDay.Month > lastDay.Month || currDay.Year > lastDay.Year)
                            {
                                end = true;
                            }
                        }

                        <div class="row">
                            @{ 
                                
                                System.DateTime startTime = new System.DateTime(1, 1, 1, 8, 30, 0);                                

                                for (int k = 0; k < 9; k++)
                                {
                                    if (k % 2 == 0)
                                    {
                                        <div class="col-md-12 text-center" style="background:LightSkyBlue; height:8.8px;">                                            
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-12 text-center" style="background:WhiteSmoke; height:8.8px;">                                            
                                        </div>
                                    }

                                    startTime = startTime.AddHours(1.5);
                                }
                            }
                        </div>
                    </div>
                }
            }

            @for (; j < 8; j++) {
                <div class="col-md-1 table-bordered calendar-day"></div>
            }

        </div>

        i++;
    }    
</div>