@model Software_Engineering_Project.Models.Bookings

<div class="col-md-12 text-center" id="booking-confirmation">
    <h2>Confirm Booking</h2>
    <h3>Room: @Model.roomID</h3>
    <h3>Starting Time @Model.startTime</h3>
    <h3>Ending Time @Model.endTime</h3>

    @{
        using (Html.BeginForm("Book", "Booking", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.userID)
            @Html.HiddenFor(model => model.startTime)
            @Html.HiddenFor(model => model.endTime)
            @Html.HiddenFor(model => model.roomID)
            <label>Provide a description of your room usage:</label>
            @Html.TextAreaFor(model => model.description, new { @type = "text", @class = "w-100 form-control", @id = "description" })
            <br />

                
            <br />
            <input type="submit" class="w-100 btn btn-primary btn-lg" value="Book" />
        }
    }
</div>